/* -- RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  display: block;
}

a:link,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: black;
}

/* -- BUTTONS */

button,
span {
  /* cursor: pointer; */
  padding: var(--s-space);
  font-size: var(--s-text);
  border-width: 0;
  border-radius: 0;
}

header button,
main button {
  background-color: rgba(128, 128, 128, 0.5);
}

header button:hover,
main button:hover {
  background-color: rgba(128, 128, 128, 0.75);
}

header button {
  margin: var(--s-space);
  border-radius: 5px;
}

footer button {
  background-color: transparent;
  font-size: var(--l-text);
}

footer [id*="-options"] button {
  font-size: var(--s-text);
}

footer button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

footer #stream i {
  color: green;
}

#end button {
  color: red;
  font-size: var(--s-text);
}

/* -- UTILS */

/* .d-flex{
    display: flex;
  } */

:root {
  --xs-text: 0.6rem;
  --s-text: 1rem;
  --m-text: 1.5rem;
  --l-text: 2rem;
  --xl-text: 2.5rem;
  --xs-space: 3px;
  --s-space: 8px;
  --m-space: 10px;
  --l-space: 15px;
  --xl-space: 50px;

  --header-h: 100px;
  --footer-h: 100px;
}

.container {
  max-width: 1700px;
  padding: 20px;
  margin: 0 auto;
}

/* -- DEBUG */

.db {
  background-color: chocolate;
  border: 3px dashed black;
}

/* ---------------------------------------- */

/* # HEADER */

header {
  height: var(--header-h);
  padding: 0 var(--s-space);
}

header .button-wrapper {
  text-align: right;
  /* width: fit-content; */
}

/* # MAIN */

main > .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - var(--header-h) - var(--footer-h));
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
main > .wrapper::-webkit-scrollbar {
  display: none;
}

main .window {
  width: calc((100% / 7) - (2 * var(--s-space)));
  height: fit-content;
  position: relative;
  margin: var(--s-space);
}

main .window img {
  width: 100%;
}

main .window .user-details {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* # FOOTER */

footer {
  display: flex;
  height: var(--footer-h);
  background-color: #222222;
  padding: 0 var(--s-space);
}

footer > .wrapper {
  display: flex;
}

footer > .wrapper:nth-child(1) {
  width: 15%;
  display: flex;
}

footer > .wrapper:nth-child(2) {
  width: 70%;
  display: flex;
  justify-content: center;
}

footer > .wrapper:nth-child(3) {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

footer .button-wrapper {
  display: flex;
  flex-direction: column;
}

footer .button-wrapper > button:first-child {
  flex-grow: 1;
}

footer > .wrapper [id*="-options"] button {
  height: 100%;
}
